__MACOSX
**/.DS_Store
myc.block
**/node_modules/
**/__pycache__/
**/venv/
**/.vscode/

# user files of the store for debugging
flask_backend/instance/*
!flask_backend/instance/.gitkeep
flask_backend/instance/_user_files/*
!flask_backend/instance/_user_files/.gitkeep